* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #212121;
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 0.9rem; }

#content {
  text-align: center;
  padding: 30px 0; }

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  60% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.loaded header {
  transition: height 1.3s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  height: 180px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.loading {
  transition: opacity 0.3s ease;
  opacity: 1; }

.loaded .loading {
  opacity: 0; }

#nav {
  height: 40px;
  right: 0;
  position: absolute;
  top: 10px;
  left: 10px; }

#menuControl {
  display: block;
  height: 15px;
  width: 15px;
  transform: rotateZ(0);
  transition: all 0.2s ease;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.menu-part {
  background: white;
  height: 3px;
  width: 20px;
  opacity: 1;
  display: block;
  margin-bottom: 3px;
  transform: rotateZ(0) translateY(0) translateX(0);
  transition: all 0.3s ease;
  border-bottom: 1px solid #0288D1; }

#menuControl.arrow {
  transform: rotateZ(360deg); }

#menuControl.arrow .menu-part--bottom {
  transform: rotateZ(35deg) translateY(-2px) translateX(-2px);
  width: 12px; }

#menuControl.arrow .menu-part--mid {
  width: 18px; }

#menuControl.arrow .menu-part--top {
  transform: rotateZ(-35deg) translateY(2px) translateX(-2px);
  width: 12px; }

#menuControl.close,
#menuControl:hover {
  transform: rotateZ(360deg); }

#menuControl.close .menu-part,
#menuControl:hover .menu-part {
  height: 2px;
  border: none; }

#menuControl.close .menu-part--bottom,
#menuControl:hover .menu-part--bottom {
  transform: rotateZ(-45deg) translateX(3px) translateY(-3px); }

#menuControl.close .menu-part--mid,
#menuControl:hover .menu-part--mid {
  opacity: 0; }

#menuControl.close .menu-part--top,
#menuControl:hover .menu-part--top {
  transform: rotateZ(45deg) translateX(4px) translateY(4px);
  border: none; }

.profile-image-container {
  width: 108px;
  border-radius: 50%;
  overflow: hidden;
  height: 108px;
  border: 4px solid white;
  background: white;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-animation-name: reveal;
  animation-name: reveal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.profile-image {
  width: 100%;
  background: white; }

#projectList {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden; }

#projectList li {
  width: 100%;
  float: left;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #B6B6B6;
  transition: all 0.3s ease; }

.project-link {
  box-shadow: none;
  transition: all 0.3s ease; }

.project-link:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

#projectList li:first-of-type {
  border-top: 1px solid #B6B6B6; }

.project-title {
  display: block;
  color: #212121;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-size: 0.8rem;
  text-decoration: none;
  text-align: left;
  font-weight: 400; }

.project-image-wrap {
  width: 50%;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  height: 90px;
  margin: 15px;
  flex: 0 0 90px; }

.project-image {
  width: auto;
  height: 100%;
  align-self: flex-start;
  margin-left: -3px; }

.project-link, .project-link:hover, .project-link:focus {
  text-decoration: none;
  display: flex; }

.tag-list {
  font-size: 0.4rem;
  padding: 0 10px;
  text-align: left; }

.tag {
  display: inline-block;
  background: #FF5252;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding: 4px 6px;
  margin: 2px; }

@media (min-width: 768px) {
  #projectList li {
    width: 50%; } }

@media (min-width: 991px) {
  #projectList li {
    width: 33.3%; } }

#projectModal {
  background: #FFFFFF;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 2; }
