<footer id="footer" class="site-footer padding-vert-half-xs">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list" itemscope itemprop="Person" itemtype="http://schema.org/Person">
          <li><span itemprop="name"><span itemprop="givenName">Shane</span> <span itemprop="familyName">Gerhardt</span></span> | <span itemprop="jobTitle">Web Developer</span></li>
          <li><a itemprop="email" href="mailto:shane.gerhardt+contact@pm.me">shane.gerhardt+contact@pm.me</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p itemscope itemprop="Person" itemtype="http://schema.org/Person">Hire <span itemprop="jobTitle">Web Developer</span> <span itemprop="name"><span itemprop="givenName">Shane</span> <span itemprop="familyName">Gerhardt</span></span> for your project. Get free quotes from a professional near <span itemprop="workLocation" itemscope itemtype="http://schema.org/GeoCoordinates"><span itemprop="address">San Francisco, California</span></span>.</p>
      </div>
    </div>
  </div>
</footer>
