<footer id="footer" class="site-footer padding-vert-half-xs">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list" itemscope itemprop="Person" itemtype="http://schema.org/Person">
          <li itemprop="name"><span itemprop="givenName">Shane</span> <span itemprop="familyName">Gerhardt</span> | <span itemprop="jobTitle">Web Developer</span></li>
          <li><a itemprop="email" href="mailto:sg@shanegerhardt.com">sg@shanegerhardt.com</a></li>
          <li><a href="{{ site.twitter }}">@SeeShaneTweet</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
