<aside id="navSidebar" class="sidebar shadow-two">
  <a class="site-title" href="{{ site.url }}/">{{ site.title }}</a>

  <nav class="site-nav">
    <a class="page-link" href="{{ site.url }}/projects/">
      <i class="fa fa-code"></i>
      <span class="hidden-xs">Projects</span>
    </a>
    <a class="page-link" href="{{ site.url }}/articles/">
      <i class="fa fa-pencil"></i>
      <span class="hidden-xs">Articles</span>
    </a>
    <a class="page-link" href="https://twitter.com/seeshanetweet">
      <i class="fa fa-twitter"></i>
      <span class="hidden-xs">Twitter</span>
    </a>
  </nav>
</aside>
