.pull-left {float: left;  margin-right: 15px;}

@media (max-width: 768px) {
  .padding-none-xs { padding: 0 !important }
  .padding-vert-half-xs { padding: 15px 0 !important }
  .width-full-xs {width: 100% !important;}
  .pos-rel-xs {position: relative !important;}
  .pull-none-xs {float: none; margin: 0;}
}
