/**
 * Sidebar
 */
 .sidebar {
   position: relative;
   background: $altColor;
   text-align: center;
   overflow: hidden;
   display: flex;
   padding: 0 10px;
  flex-direction: row;
  justify-content: space-between;
 }

 @media(min-width: 768px) {
   .sidebar {
     display: block;
     position: fixed;
     width: 25em;
     top: 0;
     bottom: 0;
     padding: 32vh 0 0;
   }
 }

/**
 * Site header
 */

.site-title {
    display: inline-block;
    text-align: left;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0.01em;
    margin-bottom: 0;
    &,
    &:visited {
        color: white;
    }
}

@media (min-width: 768px) {
  .site-title {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

.site-nav {
  font-size: 1.6rem;
  text-align: right;
  display: inline-block;

    .page-link {
        color: white;
        line-height: $base-line-height;
        display: inline-block;
        text-decoration: none;
        font-size: 2em;
        line-height: 1em;
        position: relative;
        height: 100%;
        & + .page-link {
          margin: 0 0 0 0.5em;
        }

        span {
          display: none;
        }

        svg {
          display: inline-block;
          height: 1em;
          width: auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
    }
}

@media(min-width: 768px) {
  .site-nav {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    .page-link {
      display: block;
      font-size: 1em;
      height: auto;
      & + .page-link {
        margin: 0.8em 0 0 0;
      }
      span {
        display: block;
      }
      &:hover span {
        text-decoration: underline;
      }
      svg {
          margin-bottom: 0.2em;
          transform: none;
          position: static;
      }
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@media (min-width: 768px) {
  .site-footer {
    padding-left: 25em;
  }
}



/**
 * Page content
 */

.page-content {
    padding: 15px 0
}

.page-heading {
    font-size: 4em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: 0;
}

.post-link {
    display: block;
    font-size: 24px;
}

.thumbnail {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  border: 3px solid #2196F3;
}

@media (min-width: 768px) {
  .page-content {
      padding: $spacing-unit 0 190px;
  }
  .thumbnail {
      display: inline;
      max-width: 400px;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: 5px;
}

.post-title {
    font-size: 42px;
    letter-spacing: 0.01em;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
    font-size: 16px;

    h2 {
      font-size: 22px;
      color: #B5B5B5;
    }

    h3 {
        font-size: 18px;
        color: #B5B5B5;
    }

    h4 {
        font-size: 16px;
        color: #B5B5B5;
    }
}
@media (min-width: 768px) {
  .page-content {
    padding-left: 25em;
  }
}
